{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>Role</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.password }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.city }}</td>
                <td>{{ patient.zipCode }}</td>
                <td>{{ patient.role }}</td>
                <td>{{ patient.createdAt ? patient.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ patient.updatedAt ? patient.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_back_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_patient_new') }}">Create new</a>
{% endblock %}
