{% extends 'base.html.twig' %}

{% block title %}Availability{% endblock %}

{% block body %}
    <h1>Availability</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ availability.id }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ availability.reason }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ availability.startTime ? availability.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ availability.endTime ? availability.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Recurrence</th>
                <td>{{ availability.recurrence ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RecurrenceDays</th>
                <td>{{ availability.recurrenceDays ? availability.recurrenceDays|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>IsWorkingHours</th>
                <td>{{ availability.isWorkingHours ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DaysOfWeeks</th>
                <td>{{ availability.daysOfWeeks ? availability.daysOfWeeks|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ availability.createdAt ? availability.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ availability.updatedAt ? availability.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>BackgroundColor</th>
                <td>{{ availability.backgroundColor }}</td>
            </tr>
            <tr>
                <th>TextColor</th>
                <td>{{ availability.textColor }}</td>
            </tr>
            <tr>
                <th>BorderColor</th>
                <td>{{ availability.borderColor }}</td>
            </tr>
            <tr>
                <th>AllDay</th>
                <td>{{ availability.allDay ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_availability_index') }}">back to list</a>

    <a href="{{ path('app_back_availability_edit', {'id': availability.id}) }}">edit</a>

    {{ include('back/availability/_delete_form.html.twig') }}
{% endblock %}
