{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <nav class="nav-wrapper">
        <a class="nav-icon" aria-label="visit home Page" aria-current"page" href="#">
             <img src="{{ asset('ressources/icon/logo.png') }}" alt="logo">
             <span>Kiné</span>
        </a>
        <div class="nav-navlinks">
            <button class="btn btn-hamburger" type="button" aria-label="Toggle naiviagtion" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navlinks-container">
                <a aria-current="page" href="#">Home</a>
                <a href="{{ path('app_back_availability_index') }}">Disponibilités</a>
                <a href="{{ path('app_back_availability_index') }}">Rendez-vous</a>
                <a href="{{ path('app_back_availability_index') }}">User</a>
                <a href="{{ path('app_back_availability_index') }}">Praticien</a>
                <a href="{{ path('app_back_availability_index') }}">Patient</a>
                <a href="{{ path('app_back_availability_index') }}">Review</a>
            </div>
        </div>
        <div class="nav-login">
            <a class="sign-user" aria-label="Sign in Page" href="#">
                <img src="{{ asset('ressources/icon/utilisateur.png') }}" alt="icon-user">
            </a>
            <div class="sign-btns">
                <button type="button" class="btn btn-sign">Sign In</button>
                <button type="button" class="btn btn-sign">Sign Up</button>
            </div>
        </div>
    </nav>




    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}
